body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
    
  }
  
  #end-page {
    display: none;
  }
  
  #main-logo {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100% \9;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 16px;
  }
  
  #end-page p {
    font-size: 20px;
    /* font-weight: 700; */
  }
  
  #correct-answers {
    margin-top: 32px;
  }
  
  #question {
    margin-top: 32px;
    font-size: 20px;
    font-weight: 500;
  }
.footer {
    background: rgba(128, 128, 128, 0.454);
    color: black;
    text-align: center;
    font-size: 10px;
    position: fixed; 
    height:40px;
    left: 0 ; right: 0; bottom: 0;
    padding: 1rem;
    }

  
  #timer {
    margin-top: 20px;
  }
  
  #done-button {
    margin-top: 20px;
  }
  
  /*********************** MEDIA QUERIES ***************************/
  
  /* @media screen and (max-width: 980px){
 
  }
   */
  
   @media only screen and (max-width: 768px){

    
    #crystalball-image {
       width: 33.33%;
       float: left;
       padding: 10px;
       
   }
   #space {
       width: 70%;
       margin: auto;

   }
   #crystalball2-image {
       width: 33.33%;
   }
 }
 
 
 @media only screen and (max-width: 640px){

     .containter {
       width:100%;
       height:100%;
     }
 
     #crystalball-image {
         margin-left: 0;
         width: 100%;
     }
     #space {
         margin-left: 0;
         width: 100%;
     }
     #crystalball2-image {
         margin-left: 0;
         width: 100%;
         margin-bottom: 200px;
       }
   }    